.icondiv {
  width: 1rem;
  height: 1rem;
  background-color: beige;
}
h3 {
  font-family: "Mtavruli";
}

p {
  margin-bottom: 0;
  line-height: 2rem;
}
.new-line {
  display: block;
}

.prizes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem;
}

.example-icon {
  margin-left: 1rem;
  margin-bottom: 0.4rem;
}
a {
  color: rgba(240, 90, 34, 255);
}
h4 {
  font-weight: 600;
}
@media (max-width: 58em) {
  p {
    font-size: 1rem;
  }
}

@media (max-width: 786px) {
  .no-padding {
    padding: 0 0 !important;
  }
  .no-margin {
    margin: 0;
  }

  .top20leaderboard-margin {
    margin-top: 1.5rem;
  }
}
