<div class="wrapper-simple flex-center column mb-5">
  <img
    class="mb-5 final-info-img"
    src="../../assets/final-info-img.jpg"
    alt=""
  />
  <div class="text-align mb-5">
    <h3 class="mb-4 font-weight-thin">
      გაემგზავრე POKER LEGENDS PHILIPINNES-ზე!
    </h3>
    <h5 class="smaller-h5 font-weight-thin">
      Poker Legends სერიების ფარგლებში, ევროპაბეთი უკვე მეორედ აძლევს პოკერის
      მოთამაშეებს
    </h5>
    <h5 class="smaller-h5 mb-5 font-weight-thin">
      დაუვიწყარი მოგზაურობის შანსს
    </h5>
    <app-custom-row class="" [backgroundCustomColor]="true" [height]="'60%'">
      <h4 class="font-weight-thin">
        15-დან 21 მაისის ჩათვლით მალტა პოკერის ფესტივალს უმასპინძლებს
      </h4></app-custom-row
    >
  </div>
  <div class="container container-custom mb-5">
    <app-card>
      <h6 class="mb-4 mt-3 font-bold small-heading text-align" heading>
        A კატეგორიის საგზურში შედის
      </h6>
      <div
        class="row card-row"
        *ngFor="let item of travelPackageAObservable | async"
      >
        <div class="col-2 travel-icon">
          <img [src]="item.src" alt="" />
        </div>
        <p class="col-10">{{ item.content }}</p>
      </div>
    </app-card>
    <app-card>
      <h6 class="mb-4 mt-3 font-bold small-heading text-align" heading>
        B კატეგორიის საგზურში შედის
      </h6>
      <div
        class="row card-row"
        *ngFor="let item of travelPackageBObservable | async"
      >
        <div class="col-2 travel-icon">
          <img [src]="item.src" alt="" />
        </div>
        <p class="col-10">{{ item.content }}</p>
      </div>
    </app-card>
    <app-card>
      <h6 class="mb-4 mt-3 font-bold small-heading text-align" heading>
        C კატეგორიის საგზურში შედის
      </h6>
      <div
        class="row card-row"
        *ngFor="let item of travelPackageCObservable | async"
      >
        <div class="col-2 travel-icon">
          <img [src]="item.src" alt="" />
        </div>
        <p class="col-10">{{ item.content }}</p>
      </div>
    </app-card>
  </div>
</div>

<div class="mb-5">
  <app-wrapper-a>
    <h3 class="pb-5 pt-5 font-weight-thin text-align font-size-md" heading>
      მოიგე საგზური 30 აპრილის ფინალურ ტურნირებზე
    </h3>
    <div class="grid-container">
      <div class="first-column">
        <ng-container *ngFor="let data of baseTravelCardObservable | async">
          <app-travel-card>
            <h4 class="mb-2 ticket-h4 font-size-md">
              {{ data.shortDescriptionTitle }}
            </h4>
            <p class="ticket-p font-size-small">{{ data.shortDescription }}</p>
          </app-travel-card>
        </ng-container>
      </div>
      <div class="second-column">
        <ng-container *ngFor="let data of travelCardObservable | async">
          <app-travel-card [imageFirst]="data.showImage">
            <h4 class="mb-3 ticket-h4 font-size-md">
              {{ data.shortDescriptionTitle }}
            </h4>
            <p class="ticket-p mb-1 font-size-small">
              {{ data.shortDescription }}
            </p>
            <p class="ticket-p mb-1 font-size-small">
              {{ data.shortDescription2 }}
            </p>
            <p class="ticket-p mb-3 font-size-small">
              {{ data.shortDescription3 }}
            </p>
            <p class="ticket-p mb-1 font-size-small">
              {{ data.shortDescription4 }}
            </p>
          </app-travel-card>
        </ng-container>
      </div>
    </div>
    <div class="flex-center column multiline text-align">
      <p class="font-size-small">
        *თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან მეტჯერ, ის The Lord of the Rings
      </p>
      <p class="font-size-small">
        ტურნირზე მოხვდება ბეჭდების შესაბამისი რაოდენობის სტეკით
      </p>
    </div>
    <div class="flex-center column multiline text-align">
      <p class="font-size-small">
        * ტურნირზე მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾-იანი
      </p>
      <p class="font-size-small">ბაი-ინის გადახდით</p>
    </div>
  </app-wrapper-a>
</div>
<div class="mb-5">
  <app-wrapper-a>
    <h2 class="pt-4 pb-4 text-align" heading>მისტიური გასაღები</h2>

    <h4 class="text-align secret-key">
      მოთამაშეები გარკვეული საპრიზო ადგილების დაკავების შემთხვევაში მიიღებენ
      საიდუმლო გასაღებს
    </h4>

    <div class="container">
      <div class="wrapper">
        <div class="table-body-container">
          <div
            class="tb-row mt-1 mb-2"
            *ngFor="let data of prizesObservable | async"
          >
            <p class="place-circle">{{ data.id }}</p>
            <p class="content-key-section font-size-small">
              {{ data.prize }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </app-wrapper-a>
</div>
