.wrapper-container {
  position: relative;
  overflow: hidden;
  padding: 1rem 2rem;
  padding-bottom: 0.2rem;
  background-color: #232c2c;
  text-align: center;
}
.line {
  width: 30%;
  background-color: rgba(240, 90, 34, 255);
  height: 1.2rem;
  border-radius: 11px;
  position: absolute;
  top: -0.6rem;
  left: 35%;
  box-shadow: 0 0rem 4rem 1rem rgba(242, 106, 56, 0.259);
}

p {
  font-size: 1.4rem;
}
/* 784px */
@media (max-width: 49em) {
  h3 {
    font-family: "HelveticaNeue";
    font-size: 1.6rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
  }
}
