<div class="wrapper">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 table-head table--head-1 color">
      ადგილი
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 table-head table--head-2 color">
      ვაუჩერი
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 table-head table--head-3 color">
      პრიზი
    </div>
  </div>
  <div class="table-body-container">
    <div class="row tb-row mt-1 mb-1">
      <div
        class="col-lg-4 col-md-4 col-sm-4 col-sm-4 col-xs-4 table-head table--tb-1"
      >
        <div class="place-circle">1</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 table-head table--tb-2">
        <img src="assets/remove-outline.svg" alt="" />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 table-head table--tb-3">
        <img src="assets/travel-icon-sm.png" alt="" />
        <p>A კატეგორიის საგზური</p>
      </div>
    </div>
    <div class="row tb-row mt-1 mb-1">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 table-head table--tb-1">
        <div class="place-circle">2</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 table-head table--tb-2">
        <img src="assets/remove-outline.svg" alt="" />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 table-head table--tb-3">
        <img src="assets/ticket-icon-sm.png" alt="" />
        <p>B კატეგორიის საგზური</p>
      </div>
    </div>
    <div class="row tb-row mt-1 mb-1" *ngFor="let data of data">
      <div class="col-lg-4 col-md-4 col-sm-4 table-head table--tb-1">
        <div class="place-circle">
          {{ data.place }}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 table-head table--tb-2">
        <div class="voucher">
          {{ data.voucher }}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 table-head table--tb-3">
        {{ data.prize }}
      </div>
    </div>
  </div>
</div>
