.card-custom {
}

.wrapper-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  padding-bottom: 0rem;
  background-color: #232c2c;
  flex: 1;
  height: 100%;
}

.line {
  width: 30%;
  background-color: rgba(240, 90, 34, 255);
  height: 1.2rem;
  border-radius: 11px;
  position: absolute;
  top: -0.6rem;
  left: 35%;
  box-shadow: 0 0rem 4rem 1rem rgba(242, 106, 56, 0.259);
}

.leaderboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #222526;
  padding: 1rem 2rem;
  width: 100%;
  gap: 1rem;
  height: 100%;
  /* border-right: solid #232c2c 0.1rem;
  border-bottom: solid #232c2c 0.1rem;
  border-left: solid #232c2c 0.1rem; */
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
