.spring-series-container {
  position: relative;
  overflow: hidden;
}
h3 {
  font-family: "Mtavruli";

  text-align: center;
}

.line {
  width: 30%;
  background-color: rgba(240, 90, 34, 255);
  height: 1.2rem;
  border-radius: 11px;
  position: absolute;
  top: -0.6rem;
  left: 35%;
  box-shadow: 0 0rem 4rem 1rem rgba(242, 106, 56, 0.328);
}
.column {
  flex-direction: column;
}

.event-time {
  border: solid 0.2rem rgba(240, 90, 34, 255);
  box-shadow: 0 0rem 4rem 1rem rgba(242, 106, 56, 0.209);
  border-radius: 11px;
  padding: 1rem 5rem;
  padding-right: 1.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.icon {
  width: 6rem;
  height: 6rem;
  left: -2rem;
  top: -1.2rem;
  background-color: rgba(240, 90, 34, 255);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}
.icon-img {
  position: absolute;
  width: 2.5rem;
  z-index: 6000000;
  top: 0.4rem;
  left: 0.6rem;
}
.promo-left-img {
  position: absolute;
  width: 20rem;
  left: 0;
  bottom: 0;
}

.promo-right-img {
  position: absolute;
  width: 20rem;
  height: 13.989rem;
  right: 0;
  bottom: 0;
}

.full-schedule-tournament {
  display: none;
}
a {
  color: rgba(240, 90, 34, 255);
}
span {
  font-size: 14px;
  font-weight: 600;
}
.p-font-color {
  color: #ffffffa3;
}
.mechanic-p {
  line-height: 1.2rem;
  font-family: "HelveticaNeue";
  font-size: 12px;
  color: #ffffffd9;
}

.collecting-scores {
  padding: 1.2rem 4rem;
  padding-left: 3rem;
  background-color: #1e2122c7;
  border: solid #232c2c 0.2rem;
  border-radius: 16px;
  position: relative;
}

.mechanic-icon {
  position: absolute;
  right: -2.8rem;
  height: 4.5rem;
}
/* Tournament section */

.wrapper-simple {
  padding: 1rem 1.5rem;
}
.tournament-section-row {
  width: 100%;
  gap: 2rem;
}
.col-tournament {
  width: 100%;
}
.image-container img {
  width: 100%;
}

.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  display: block;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.image-overlay-bg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.description-sm-cont {
  width: 30rem;
}
.description-bg-cont {
  width: 30rem;
}
.description-first {
  text-align: center;
}
.description-second {
  display: flex;
  text-align: center;
}
.tournament-date {
  background-color: #b47c3c;
  padding: 0.5rem 2rem;
  border-radius: 11px;
  border-bottom-right-radius: 0;
}

.description-first h2 {
  color: #f3b507;
  font-weight: 700;
}

.description-bg-second {
  display: flex;
  z-index: 0;
  text-align: center;
}
.tournament-date-bg {
  background-color: #cec461;
  padding: 0.8rem 3rem;
  border-radius: 16px;
  border-bottom-right-radius: 0;
  color: #245b42;
}
.display {
  display: none;
}
h4 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

h5 {
  display: flex;
  justify-content: center;
}

.text-centered {
  text-align: center;
}
.main-events h2 {
  font-weight: 700;
}
.main-events-color {
  color: #f3b507;
}

@media (max-width: 918px) {
  .small-text {
    font-size: 1.2rem;
  }
  .bold-text {
    font-weight: 600;
  }
  .no-bold {
    font-weight: 400;
  }
  .md-text {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 12px;
  }
  .description-sm-cont {
    gap: 3rem;
    width: 22rem;
  }
}

@media (max-width: 675px) {
  .p-font-color {
    display: none;
  }
  .padding {
    padding: 1rem 6rem;
  }
  .poker-btn {
    display: none;
  }

  .promo-left-img {
    width: 11rem;
    height: 7.5rem;
  }

  .promo-right-img {
    position: absolute;
    width: 11rem;
    height: 7.5rem;
  }

  .full-schedule-tournament {
    display: flex;
    padding: 2rem 2rem;
    background-color: #232c2c;
    text-align: center;
  }
  .tournament-p {
    font-size: 1.2rem;
    color: #ffffffd8;
  }
  .poker-lobby-btn {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    font-weight: 600;
  }
  .tournament-section-row {
    flex-direction: column;
  }
  .image-container img {
    height: 10rem;
  }
  .img-sm {
    display: none;
  }
  .display {
    display: block;
    height: 8rem;
  }
  .image-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .description-sm-cont {
    gap: 1rem;
    width: 28rem;
  }
}

@media (max-width: 320px) {
  .description-sm-cont {
    width: 20rem;
  }
  .description-bg-cont {
    width: 20rem;
  }
}
