<div class="modal-backdrop fade show"></div>

<div
  class="modal fade show"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-modal="true"
  style="display: block"
  role="dialoge"
>
  <div class="modal-dialog custom-size">
    <div class="modal-header--sticky">
      <div class="date">
        <button class="date--slots-button">სლოტები</button>

        <div class="date--period">10 იანვარი - 12 მარტი</div>
      </div>
      <div class="close-btn">
        <img
          src="assets/close-outline.svg"
          alt="close modal"
          class="icon"
          (click)="onCloseModal()"
        />
      </div>
    </div>

    <div class="modal-content animateShowModal">
      <div class="div-banner">
        <img src="assets/banner.jpg" alt="" class="banner" />
      </div>

      <div class="modal-body">
        <div class="container1">
          <div class="row mb-5">
            <h3 class="mb-4">მოიპოვე 10 საგზურიდან ერთ-ერთი</h3>
            <p>მოხვდი პოკერის ფესტივალზე მალტაში</p>
          </div>

          <div class="row mb-5">
            <div class="tab-bar">
              <a
                routerLink="./"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="cash-games"
                ><span>1-29 აპრილი </span
                ><span class="stage">Cash Games</span></a
              >
              <a
                routerLink="springseries"
                routerLinkActive="active"
                class="spring-series"
                ><span>13-29 აპრილი</span>
                <span class="stage">Spring Series</span></a
              >
              <a
                routerLink="finalstage"
                routerLinkActive="active"
                class="final-stage"
                ><span>30 აპრილი</span>
                <span class="stage"> Final Stage</span></a
              >
            </div>
          </div>

          <router-outlet> </router-outlet>

          <div class="row mb-5 mt-5">
            <app-wrapper-b></app-wrapper-b>
          </div>
          <div class="row mb-5">
            <app-accordion></app-accordion>
          </div>
        </div>
      </div>

      <footer class="footer">
        <button class="btn">ითამაშე</button>
      </footer>
    </div>
  </div>
</div>
