<div class="modal-backdrop fade show"></div>
<div class="modal" id="exampleModal" tabindex="-1" style="display: block">
  <div class="backdrop" (click)="onCloseModal()"></div>
  <div class="modal-dialog custom-size">
    <div class="modal-content animateShowModal">
      <div class="modal-body">
        <div class="container1 sign-up-container mb-1">
          <img src="../../assets/logo.png" alt="" />
          <div class="buttons">
            <button class="sign-up-btn btnn">Sign up</button>
            <div class="btnn">Sign in</div>
          </div>
        </div>
        <div class="div-banner">
          <img src="assets/banner.jpg" alt="" class="banner" />
        </div>

        <div class="container1">
          <div class="row mb-5 heading">
            <div class="modal-header--sticky">
              <div class="date">
                <button class="date--slots-button">სლოტები</button>

                <div class="date--period">10 იანვარი - 12 მარტი</div>
              </div>
              <div class="close-btn" (click)="onCloseModal()">
                <img
                  src="assets/close-outline.svg"
                  alt="close modal"
                  class="icon"
                />
              </div>
            </div>
            <h4 class="mb-4">მოიპოვე 10 საგზურიდან ერთ-ერთი</h4>
            <p>მოხვდი პოკერის ფესტივალზე მალტაში</p>
          </div>

          <div class="row mb-5">
            <div class="tab-bar">
              <a
                routerLink="./"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="cash-games"
                ><span class="date-display">1-29 აპრილი </span>
                <span class="date-display-sm">1-29 აპრ. </span>
                <span class="stage">Cash Games</span></a
              >
              <a
                routerLink="springseries"
                routerLinkActive="active"
                class="spring-series"
                ><span class="date-display">13-29 აპრილი</span>
                <span class="date-display-sm">1-29 აპრ. </span>
                <span class="stage">Spring Series</span></a
              >
              <a
                routerLink="finalstage"
                routerLinkActive="active"
                class="final-stage"
                ><span class="date-display">30 აპრილი</span>
                <span class="date-display-sm">30 აპრ. </span>
                <span class="stage">Final Stage</span></a
              >
            </div>
          </div>

          <router-outlet></router-outlet>

          <div class="row mb-5">
            <app-accordion></app-accordion>
          </div>
        </div>
        <div class="container1">
          <h4 class="carousel-heading">მსგავსი აქციები</h4>
        </div>
        <div class="row carousel">
          <app-carousel></app-carousel>
        </div>
        <footer class="footer">
          <div class="background-color flex-center">
            <button class="mb-5 mt-5 btnn">ითამაშე</button>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
