@import "bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: HelveticaNeue;
  src: url(assets/HelveticaNeue.ttc) format("truetype");
}
@font-face {
  font-family: Mtavruli;
  src: url(assets/mtavruli.ttf) format("truetype");
}

@font-face {
  font-family: Sylfaen;
  src: url(assets/Sylfaen.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #ffffffd0;

  overflow-x: hidden;
  background-color: #333333;
}
p {
  font-size: 14px;
}

.container1 {
  /* 1140px */
  max-width: 120rem;
  margin: 0px auto;
  padding: 0 3.2rem;
}

.wrapper {
  background-color: #222526;
  border-radius: 11px;
  margin-left: 0;
  margin-right: 0;
}

.wrapper-simple {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;

  background-color: rgba(0, 0, 0, 0.392);
  border: solid #232c2c 0.3rem;
  border-radius: 11px;
}
.btnn,
.btnn:link,
.btnn:visited {
  display: inline-block;

  text-decoration: none;

  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 4.4rem;
  border-radius: 4px;
  letter-spacing: 1px;

  border: none;
  box-shadow: none;

  cursor: pointer;
  font-family: inherit;
  background-color: rgba(240, 90, 34, 255);
  color: #fff;
}

.btnn:hover,
.btnn:active {
  background-color: #d8511f;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
p {
  margin-bottom: 0;
}

h3 {
  font-family: "Mtavruli";
  font-weight: 600;
}

/* 1 296 px */
@media (max-width: 81em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 786px) {
  .container1 {
    padding: 0 1.5rem;
  }
  h3 {
    font-family: "HelveticaNeue" !important;
    font-weight: 600 !important;
  }
}
