/* You can add global styles to this file, and also import other style files */
/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #F05A22
- Tints:
##d8511f

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import "bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: HelveticaNeue;
  src: url(assets/HelveticaNeue.ttc) format("truetype");
}
@font-face {
  font-family: Mtavruli;
  src: url(assets/mtavruli.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #fff;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
  background-color: #333333;
}
p {
  font-size: 14px;
}

.container1 {
  /* 1140px */
  max-width: 120rem;
  /* padding: 1.2rem 3.2rem; */

  margin: 0px auto;
  /* background-color: aquamarine; */
  padding: 0 3.2rem;
}

.wrapper {
  background-color: #232c2c;
  border-radius: 11px;
  margin-left: 0;
  margin-right: 0;
}

.btnn,
.btnn:link,
.btnn:visited {
  display: inline-block;

  text-decoration: none;

  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 4.4rem;
  border-radius: 4px;
  letter-spacing: 1px;

  /* Only necessary for .btn */
  border: none;
  box-shadow: none;

  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  /* transition: all 0.3s; */
  background-color: rgba(240, 90, 34, 255);
  color: #fff;
}

.btnn:hover,
.btn:active {
  background-color: #d8511f;
  color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
