.container-row {
  background-color: #1e2122;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem;
  max-width: 81rem;
  border-radius: 11px;
  position: relative;
  overflow: hidden;
  height: 7rem;
}

.orange-line {
  width: 1rem;
  background-color: rgba(240, 90, 34, 255);
  border-radius: 11px;
  position: absolute;
  left: -0.5rem;
  box-shadow: 0 0rem 4rem 1rem rgba(242, 106, 56, 0.143);
}

.backgroundColor {
  background-color: #232c2c;
}

@media (max-width: 786px) {
  .prizes {
    padding: 0.5rem 0.5rem;
  }
  .orange-line {
    height: 40% !important;
  }
  .container-row {
    background-color: #232c2c;
  }
}
