img {
  width: 2.5rem;
  height: 2.5rem;
}
a {
  color: rgba(240, 90, 34, 255);
}

p {
  font-family: "HelveticaNeue";
  margin-bottom: 0;
  line-height: 2rem;
}

.new-line {
  display: block;
}

.prizes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem;
}
.prizes-child {
  flex: 1;
}

.example-icon {
  margin-left: 1rem;
  margin-bottom: 0.4rem;
}

.flex-center {
  flex-direction: column;
}

.p-font-color {
  color: #ffffffa3;
  text-align: center;
}

/* 928px */
@media (max-width: 58em) {
  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 786px) {
  .prizes {
    padding: 0.5rem 0.5rem;
  }

}
